*{
    margin: 0%;
    padding: 5px;
    background-color: rgb(216, 234, 235);

}

h1{
    color: rgba(40, 84, 121, 0.664);
    text-align: center;
}
h2{
    color: #ffffff;
    background-color: rgb(31, 73, 75);
}

strong{
    color: cadetblue;
}

em{
    color: darkcyan;
}

p{
    text-align: justify;
    text-indent: 30px;
    font-size: 20px;
}